/target
.DS_Store
*/.DS_Store

# Ignore files that are generated while testing
tests/intermediates

# Ignore tarpaulin report
tarpaulin-report.html

# Ignore IntelliJ IDEA files
.idea

# Ignore wasm-pack output
pkg