@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix {{ prefix }}: <{{ repo }}{%- if repo[-1] != "/" -%}#{%- endif -%}> .
{%- for pfx, value in prefixes %}
@prefix {{ pfx }}: <{{ value }}> .
{%- endfor %}

#########################################################
# SHACL Shapes
#########################################################

{%- for object in objects %}

{{ prefix }}:{{ object.name }}Shape
    a sh:NodeShape ;
    sh:targetClass {{ prefix }}:{{ object.name }} ;
    {%- for attribute in object.attributes %}
    sh:property [
        {# ------------------------------------------------ #}
        {# Predicate paths                                  #}
        {# ------------------------------------------------ #}
        {%- if attribute.term %}
        sh:or (
            [ sh:path {{ object.name }}:{{ attribute.name }} ]
            [ sh:path {{ attribute.term }} ]
        ) ;
        {%- else %}
        sh:path {{ object.name }}:{{ attribute.name }} ;
        {%- endif %}
        {# ------------------------------------------------ #}
        {# Value constraint                                 #}
        {# ------------------------------------------------ #}
        {%- if attribute.dtypes[0] in object_names %}
        sh:node {{ prefix }}:{{ attribute.dtypes[0] }}Shape ;
        {%- elif attribute.dtypes[0] in enum_names %}
        sh:class {{ prefix }}:{{ attribute.dtypes[0] }} ;
        {%- else %}
        sh:datatype {{ attribute.dtypes[0] }} ;
        {%- endif %}
        {# ------------------------------------------------ #}
        {# Cardinality                                      #}
        {# ------------------------------------------------ #}
        {%- if attribute.required %}
        sh:minCount 1 ;
        {%- else %}
        sh:minCount 0 ;
        {%- endif %}
        {%- if not attribute.multiple %}
        sh:maxCount 1 ;
        {%- endif %}
        {# ------------------------------------------------ #}
        {# Documentation                                    #}
        {# ------------------------------------------------ #}
        {%- if attribute.docstring %}
        sh:description "{{ attribute.docstring | replace('\n',' ') | replace('"','\\"') }}" ;
        {%- endif %}

    ] ;

    {%- endfor %}
.

{%- endfor %}