@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix {{ prefix }}: <{{ repo }}{%- if repo[-1] != "/" -%}#{%- endif -%}> .
{%- for prefix, value in prefixes %}
@prefix {{ prefix }}: <{{ value }}> .
{%- endfor %}

{% for object in objects %}
{{ prefix }}:{{ object.name }}Shape
    a sh:NodeShape ;
    sh:targetClass md:{{ object.name }} ;
    {% for attribute in object.attributes %}
    {%- if attribute.term %}
    sh:property [
        sh:path {{ attribute.term }} ;
        {%- if attribute.dtypes[0] in object_names %}
        sh:node md:{{ attribute.dtypes[0] }}Shape ;
        {%- else %}
        sh:datatype xsd:{{ attribute.dtypes[0] }} ;
        {%- endif %}
        {%- if attribute.required %}
        sh:minCount 1 ;
        {%- else %}
        sh:minCount 0 ;
        {%- endif %}
        {%- if attribute.multiple is false%}
        sh:maxCount 1 ;
        {%- endif %}
    ];
    {%- endif %}
    {%- endfor %} .
{% endfor %}
