{#
    This macro determines, whether an attribute is required,
    multiple or optional.
#}
{%- macro is_required(attr) -%}
    {%- if attr.required is false and attr.multiple is false -%}
        ?
    {%- elif attr.required is false and attr.multiple is true -%}
        *
    {%- elif attr.required is true and attr.multiple is true -%}
        +
    {%- endif %}
{%- endmacro -%}

{#
    This macro generates an annotation for an attribute.
#}
{%- macro annotation(attr) -%}
{
        shex:annotation [
            shex:label "{{ attr.name }}"
            {%- if attr.description -%}shex:description "{{ attr.description }}"{%- endif %}
        ]
    }
{%- endmacro %}

PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX {{ prefix }}: <{{ repo }}{%- if repo[-1] != "/" -%}#{%- endif -%}>
{%- for pre, address in prefixes %}
PREFIX {{pre}}: <{{address}}>
{%- endfor %}
{% for object in objects%}
{{ prefix }}:{{object.name}} {
    {%- for attr in object.attributes %}
    {%- if attr.term %}

    {%- if attr.dtypes[0] in object_names %}
    {{attr.term}} @{{ prefix }}:{{attr.dtypes[0]}}{{ is_required(attr) }} {{ annotation(attr) }};
    {%- else %}
    {{attr.term}} xsd:{{attr.dtypes[0]}}{{ is_required(attr) }} {{ annotation(attr) }};
    {%- endif %}

    {%- endif %}
    {%- endfor %}
}
{%- endfor %}
